{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <div class="navbar">{% include ('/navbar/index.html.twig') %}</div>

    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Messagerie</h1>
                <button type="button" class="btn btn-primary position-relative">
                    Reçu
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ app.user.received|length }}<span class="visually-hidden">unread messages</span>
                    </span>
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    Mes dossiers
                </button>
                <a class="btn btn-primary" href="{{ path('app_message_received') }}">Boite de réception</a>

                <div class="card text-center mt-5">
                    <div class="card-header">
                        {{ message.title }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">De {{ message.sender.email }}</h5>
                        <p class="card-text">{{ message.message }}</p>
                        <h6 class="card-title">Congés</h6>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Type de congés</th>
                                <th scope="col">Début</th>
                                <th scope="col">Fin</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th><em>{{ message.typecp }}</em></th>
                                <th><em>{{ message.start|date }}</em></th>
                                <th><em>{{ message.end|date }}</em></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                        Le {{ message.createdAt|date }}
                    </div>
                </div>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                     aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="list-group mt-3">
                            <a href="{{ path('app_message') }}" class="list-group-item list-group-item-action active">Accueil</a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="{{ path('app_message_received') }}"
                               class="list-group-item list-group-item-action"><span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ app.user.received|length }}<span class="visually-hidden">unread messages</span>
                    </span>Réception</a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="{{ path('app_message_sent') }}"
                               class="list-group-item list-group-item-action">Envoyé</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
