{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <div class="navbar">{% include ('/navbar/index.html.twig') %}</div>

    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Messagerie</h1>
                <h2>Boite de réception</h2>
                <button type="button" class="btn btn-primary position-relative">
                    Reçu
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ app.user.received|length }}<span class="visually-hidden">unread messages</span>
                    </span>
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    Mes dossiers
                </button>
                <a class="btn btn-primary" href="{{ path('app_message_send') }}">Envoyer un message</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">De :</th>
                        <th scope="col">Sujet :</th>
                        <th scope="col">Type de congés :</th>
                        <th scope="col">Date :</th>
                        <th scope="col">Action :</th>
                        <th scope="col">Validation</th>
                    </tr>
                    </thead>
                    {% for message in app.user.received %}

                        {% if message.isread == 0 %}
                            {% set bold = "badge bg-secondary" %}
                            {% set new= 'new' %}
                        {% else %}
                            {% set bold = "" %}
                            {% set new= '' %}
                        {% endif %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ message.sender.email }}<span class="{{ bold }}">{{ new }}</span></th>
                            <td><a href="{{ path('app_message_read',{id: message.id}) }}">{{ message.title }}</a></td>
                            <td>{{ message.typecp }}</td>
                            <td>{{ message.createdAt|date('d/m') }}</td>
                            <td><a href="{{ path('app_message_delete',{id: message.id}) }}">
                                    <button type="button" class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-bookmark-x" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z"></path>
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                        </svg>
                                        Supprimer
                                    </button>
                                </a>
                                <a href="{{ path('app_message_decline',{id: message.id}) }}">
                                    <button type="button" class="btn btn-outline-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-bookmark-x" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z"></path>
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                        </svg>
                                        Décliner
                                    </button>
                                </a>
                                <a href="{{ path('app_message_valid',{id: message.id}) }}">
                                    <button type="button" class="btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-bookmark-check" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                        </svg>
                                        Valider
                                    </button>
                                </a>
                            </td>
                            <td>{% if message.isvalid == 0 %}
                                    <div class="col-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="red"
                                             class="bi bi-calendar-x" viewBox="0 0 16 16">
                                            <path d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                    </div>
                                {% else %}
                                    <div class="col-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="green"
                                             class="bi bi-calendar-check" viewBox="0 0 16 16">
                                            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>


                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                     aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <div class="list-group mt-3">
                            <a href="{{ path('app_message') }}"
                               class="list-group-item list-group-item-action">Accueil</a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="{{ path('app_message_received') }}"
                               class="list-group-item list-group-item-action active"><span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ app.user.received|length }}<span class="visually-hidden">unread messages</span>
                    </span>Réception</a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="{{ path('app_message_sent') }}"
                               class="list-group-item list-group-item-action">Envoyé</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

